body {
    font-size: 14pt;
    font-family: sans-serif;
}

button {
    font-size: 14pt;
}

#buttons {
    margin-bottom: 14pt;
}

h1 {
    font-weight: normal;
    font-family: Rockwell, Georgia, serif;
    font-size: 1.333em;
    color: #3c790a;
}

table {
    border-collapse: collapse;
}

.highlight {
    border: 1px solid #ddd;
    padding: 14pt 28pt 14pt 28pt;
    font-family: Consolas, monospace;
    background-color: #f8f8f8;
}
